html {
    /* font-family: "Source Serif Pro", serif; */
    font-family: "Source Sans Pro", serif-sans;
    font-size: 120%;
}


:root {
    --toc-left : 52%;
    --toc-right: none;
    --body-width: 50%;
}

@media (max-width: 80rem) {
    body {
        /* color: red; */
    }
    :root {
        --toc-left: none;
        --toc-right: 0%;
        --body-width: none;
    }
}


body {
    max-width: var(--body-width);
}



#sidebar {
    display: flex;
    flex-direction: column;
    height: 95%; /* TODO meh */

    position: fixed;

    left : var(--toc-left);
    right: var(--toc-right);

    font-size: 1.1em;
}

#toc {
    flex-grow: 1;
    padding-top: 3em;
}


h1 {
    color: maroon;
    margin-left: 40px;
}
.item .heading {
    font-weight: bold;
}
.item .body {
    padding-left: 3em;
}


.highlight {
    color: orange;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#search-line {
    display: flex;
}

#query {
    flex-grow: 1;
    font-size: 1.5em;
}

#search {
    font-size: 1.5em;
}

#error {
    height: 2em;
}

#results {
    padding-left: 0;
}

.menu td {
    vertical-align: top;
}

td.price {
    width: 5ch;
}

a.back {
    display: block; /* TODO not sur if it's a good way */
}

.error {
    color: red;
    font-weight: bold;
}

.highlight:after {
    font-weight: bold;
    user-select: none;

    font-size: larger;
    background: white;

    z-index: 100;
    position: absolute;

}

.snippet_0:after  { content: "0" ; color: violet }
.snippet_1:after  { content: "1" ; color: indigo }
.snippet_2:after  { content: "2" ; color: blue   }
.snippet_3:after  { content: "3" ; color: green  }
.snippet_4:after  { content: "4" ; color: brown }
.snippet_5:after  { content: "6" ; color: orange }
.snippet_6:after  { content: "6" ; color: red    }
.snippet_7:after  { content: "7" ; color: violet }
.snippet_8:after  { content: "8" ; color: indigo }
.snippet_9:after  { content: "9" ; color: blue   }
.snippet_10:after { content: "10"; color: green  }
.snippet_11:after { content: "11"; color: brown }
.snippet_12:after { content: "12"; color: orange }
.snippet_13:after { content: "13"; color: red    }

.snippet.nodebug {
    color: transparent;
}
