html {
    /* font-family: "Source Serif Pro", serif; */
    font-family: "Source Sans Pro", serif-sans;
    font-size: 120%;
}

body {
    max-width: 50%;
    border-right: 1px dotted;
}

h1 {
    color: maroon;
    margin-left: 40px;
}
.item .heading {
    font-weight: bold;
}
.item .body {
    padding-left: 3em;
}


.highlight {
    color: orange;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


#query {
    width: 80ch;
}

#toc {
    position: fixed;
    left: 52%;
}

#settings {
    position: fixed;
    left: 52%;
    bottom: 5%;
}

#results {
    padding-left: 0;
}

.menu td {
    vertical-align: top;
}

td.price {
    width: 5ch;
}

a.back {
    display: block; /* TODO not sur if it's a good way */
}

.snippet {
    font-weight: bold;
    color: magenta;
}

.snippet_0  { color: violet }
.snippet_1  { color: indigo }
.snippet_2  { color: blue   }
.snippet_3  { color: green  }
.snippet_4  { color: brown }
.snippet_5  { color: orange }
.snippet_6  { color: red    }
.snippet_7  { color: violet }
.snippet_8  { color: indigo }
.snippet_9  { color: blue   }
.snippet_10 { color: green  }
.snippet_11 { color: brown }
.snippet_12 { color: orange }
.snippet_13 { color: red    }
